.middlePanel {
    width: 35%;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    position:relative;
    border: 1px solid var(--twitter-grey);
    border-top: none;
    background-color: var(--twitter-dark-mode);
    font-size: var(--regular-text);
}

.scrollable {
    overflow: scroll;
}

.scrollable::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.stickyBar {
    height: 100px;
    width: 100%;
    top:0;
    position: sticky;
    z-index:1001;
    border-bottom: 1px solid var(--twitter-grey);
}

.homeText {
    height: 50%;
    padding: 15px 15px;
    font-size: var(--root-20px-text);
    font-weight: var(--bold-text);
    display: flex;
    justify-content: flex-start;
}

.feedTweetsCategory {
    height: 50%;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: var(--root-14px-text);
    font-weight: var(--bold-text);
}

.isNotActive {
    color: var(--twitter-grey);
}

.yourTweets {
    width: 50%;
}

.maxHeight {
    height: 100%;
}

.textWithPill {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.textDesc {
    padding-top: 12px;
    height: 90%;
    width: 100%;
}

.followingTweets {
    width: 50%;
}

.centerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bottomPill {
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 12px;
    height: 2px;
    width: 100%;
}
.bottomPill.isActive{
    border: 2px solid var(--twitter-blue);
}

.composeTweet {
    min-height: 120px;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 1px solid var(--twitter-grey);
}

.profileLogo {
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index:1000;
}

.profileLogo.left{
    height: 40px;
    width: 40px;
    margin-top: 7px;
}
.profileLogo.middle{
    height: 45px;
    width: 45px;
    margin-top: 20px;
}
.profileLogo.right{
    height: 47px;
    width: 47px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 12px;
}

.profileLogo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.tweetText {
    min-width: 80%;
    padding: 15px 15px;
}

.tweetTextInputBox {
    width: 100%;
    min-height: 100px;
    border: none;
    outline: none;
    overflow: auto;
    resize: none;
    color: #FFF;
    font-size: var(--root-20px-text);
}

.tweetTextInputBox::placeholder {
    color: var(--twitter-grey);
    font-weight: var(--bold-text);
}


.generateNewTweet {
    position: absolute;
    bottom: 15px;
    right: 15px;
    min-width: 90px;
    min-height: 40px;
    background-color: var(--twitter-blue);
    border-radius: 32px;
    border: none;
    text-decoration: none;
    font-size: var(--root-15px-text);
    font-weight: var(--bold-text);
    display: flex;
    justify-content: center;
    align-items: center;
}


.tweetListOuter {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tweetThreadOuter{
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-bottom: 1px solid #3A3D45;
}

.threadDisplay{
    width:2px;
    position: absolute;
    height: 100%;
    left: 37.5px;
    background-color: #3A3D45;
    z-index:1;
}
.noTop{
    margin-top:65px;
}
.noThreadLine{
    display: none;
}
.noBottom{
    height: 65px;
}

.tweetList {
    position:relative;
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.tweetBodyAndStats {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 15px 15px;
    padding-bottom: 5px;
    position: relative;
}

.tweetUserProfileName{
    font-size: var(--root-16px-text);
    font-weight: 600;
    color: #FFF;
    margin-right: 5px;
}

.tweetUserUserName,
.tweetDateTime {
    font-size: var(--root-16px-text);
    color: var(--twitter-grey);
    font-weight: 400;
    margin-right: 10px;
}

.tweetUserUserName{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tweetUserUserName > *{
    color: var(--twitter-grey);
}

.dot{
    width: 4px;
    height: 4px;
    background-color: var(--twitter-grey);
    border-radius: 50%;
    margin: 0 auto;
    margin-left: 10px;
}

.userDetailsAndTime {
    line-height: 25px;
    display:flex;
    flex-direction: row;
}

.blueTick{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.verifiedUserIcon{
    height: 20px;
    width: 20px;
}
.verifiedUserIcon.black{
    background-color: black;
}
.replyingTo{
    color: var(--twitter-grey);
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.replyingText, .tweetOwner{
    font-size: var(--root-14px-text);
    margin-right: 4px;
}
.tweetOwner{
    color: var(--twitter-blue);
}


.tweetBody {
    font-size: var(--root-14px-text);
    min-height: 50%;
}

.tweetStats {
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    font-size: var(--root-12px-text);
}


.isLiked>* {
    color: red;
    fill: red;
}

.isLiked>img {
    fill: red;
}

.commentCount,
.retweetCount,
.likesCount,
.tweetReach {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.likesCount > *:hover{
    color: red;
}

.commentCount>*,
.retweetCount>*,
.likesCount>*,
.tweetReach>* {
    height: 100%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tweetStatIcon {
    width: 30px;
    padding-right: 10px;
}



@media only screen and (max-width: 768px) {
    .middlePanel {
        width: 100%;
    }
}