.rightPanel{
    width: 30%;
    height: 100vh;
    min-width: 350px;
    margin-left: 12px;
    margin-top: 8px;
    font-size: var(--regular-text);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.SearchTwitter{
    font-size:0;
    padding: 10px 10px;
    min-width: 320px;
    border-radius: 25px;
    background-color: var(--twitter-list-dark-bkg);
    display:flex;
    flex-direction: row;
}
.SearchTwitter > *{
    background-color: var(--twitter-list-dark-bkg);
}
.searchIconSpan{
    width: 10%;
}
.searchInput{
    width: 90%;
    height: 100%;
    border:none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchInput::placeholder{
    color: var(--twitter-grey);
    font-size: 18px;
}
.searchIcon{
    height: 18px;
    width: 18px;
}


.trending, .recommendations {
    margin-top: 12px;
    padding: 10px 10px;
    border-radius: 15px;
    min-width: 320px;
}

.whatsHappening{
    font-size: var(--large-text);
    font-weight: var(--bold-text);
    margin-bottom: 10px;
}

.trendingListItems{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0;
}
.rightPanelColor{
    background-color: var(--twitter-list-dark-bkg);
}
.category, .trendingReason, .showMore, .showMoreAnchor, .userNameCard{
    color: var(--twitter-grey);
}
.tweetTitle, .profileName{
    color: #FFF;
    font-size: var(--medium-text);
    font-weight: var(--bold-text);
}
.showMore{
    margin-top: 10px;
    margin-bottom: 10px;
}
.showMoreAnchor{
    height: 100%;
    color: var(--twitter-blue);
    font-weight: var(--bold-text);
}


.followSuggestions{
    display:flex;
    flex-direction: row;
}

.whoToFollow{
    margin-top: 10px;
    margin: 10px 10px;
}

.noTopMargin{
    margin-top: 0px;
    margin-bottom: 10px;
}
.noMargin{
    margin: 10px 0;
}

.followUser{
    margin-top: 15px;
    margin-left: 15px;
    width: 80px;
    height: 30px;
    border-radius: 32px;
    background-color: #FFF;
    font-size: 18px;
    font-weight: var(--bold-text);
    color: #000;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}



@media only screen and (max-width: 800px) {
    .rightPanel{
      width:0;
      display:none;
    }
  }

