.rightPanel{
    width: 30%;
    height: 100vh;
    position: sticky;
    top: 0px;
    min-width: 320px;
    margin-left: 12px;
    padding-top: 8px;
    font-size: var(--regular-text);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.SearchTwitter{
    font-size:0;
    padding: 10px 10px;
    min-width: 340px;
    border-radius: 25px;
    background-color: var(--twitter-list-dark-bkg);
    display:flex;
    flex-direction: row;
}
.SearchTwitter > *{
    background-color: var(--twitter-list-dark-bkg);
}
.searchIconSpan{
    width: 10%;display: flex;
    justify-content: center;
    align-items: center;
}
.searchInput{
    width: 90%;
    height: 100%;
    border:none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.searchInput::placeholder{
    color: var(--twitter-grey);
    font-size: 15px;
}
.searchIcon{
    height: 18px;
    width: 18px;
}


.trending, .recommendations {
    margin-top: 12px;
    padding: 12px 16px;
    border-radius: 15px;
    min-width: 340px;
}
.trending > *,.recommendations > *{
    background-color: var(--twitter-grey);
}

.trendingHeading, .whoToFollowHeading{
    font-size: var(--root-19px-text);
    font-weight: var(--bold-text);
    margin-bottom: 10px;
}

.trendingListItems{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin: 12px 0;
}
.rightPanelColor{
    background-color: var(--twitter-list-dark-bkg);
}
.rightPanelColor > *{
    background-color: var(--twitter-list-dark-bkg);
}

.trendingSubtitle, .trendingReason, .showMore, .showMoreAnchor, .userNameCard{
    color: var(--twitter-grey);
}
.userNameCard{
    font-size:  var(--root-14px-text);
}

.trendingSubtitle, .tweetCount, .hashTag{
    font-size: var(--root-13px-text);
}

.trendingTitle{
    font-size: var(--root-15px-text);
    margin: 2px 0;
}

.profileName{
    color: #FFF;
    font-size: var(--root-16px-text);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.showMore{
    margin-top: 10px;
    font-size: var(--root-15px-text);
}
.showMoreAnchor{
    height: 100%;
    color: var(--twitter-blue);
    font-weight: var(--bold-text);
}


.followSuggestions{
    display:flex;
    flex-direction: row;
    margin: 12px 0;
}

.noTopMargin{
    margin-top: 0px;
    margin-bottom: 10px;
}
.noMargin{
    margin: 10px 0;
}

.followUser{
    margin-left: 15px;
    width: 80px;
    height: 30px;
    border-radius: 32px;
    background-color: #FFF;
    font-size: 15px;
    font-weight: var(--bold-text);
    color: #000;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}

.hashTagList, .tweetCountDisplay{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.trendingWithText, .tweetCount, .tweetsText{
    font-size: var(--root-13px-text);
    margin-right: 4px;
    font-weight: 100;
    font-weight: normal;
    color: var(--twitter-grey);
}

.hashTags{
    display: flex;
}
.verifiedUserIcon.lightGrey{
    background-color: var(--twitter-list-dark-bkg);
}

.hashTag{
    color: var(--twitter-blue);
    font-weight: 600;
    background-color: var(--twitter-list-dark-bkg);
}

@media only screen and (max-width: 768px) {
    .rightPanel{
      width:0;
      display:none;
    }
  }

